<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="OutDir" value="C:\\Logs\Oracle"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="database" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=localhost:1521/orcl;Persist Security Info=True;Password=password;User ID=user_id;OLEDB.NET=True;SPPrmsLOB=True;PLSQLRSet=true"/>
  </connectionStrings>
</configuration>
